
        @{
            ViewData["Title"] = "Home Page";
        }
     
            <div class="text-center">
                <br />
                <h1 class="display-4 font-weight-bold">Setor de Produção</h1>
                <br />
                <br />
                <br />

            </div>
            <div class="row container col-12">
                <div class="col-2">
                </div>
                <div class="card col-3 text-center" style="width: 18rem;">
                    <img class="card-img-top" src="img/çapatos.jpg" width="50px" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sapatos</h5>
                        <p class="card-text">Visualizar modelos</p>
                        <a href="https://localhost:44373/Categorias" class="btn btn-danger">Acessar</a>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="card col-3 text-center" style="width: 18rem;">
                    <img class="card-img-top" src="img/estoque.jpg" width="50px" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Estoque</h5>
                        <p class="card-text">Visualizar estoque</p>
                        <a href="https://localhost:44373/Estoques" class="btn btn-danger">Acessar</a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row container col-12">
                <div class="col-2">
                </div>
                <div class="card col-3 text-center" style="width: 18rem;">
                    <img class="card-img-top" src="img/funcionarios.jpg" width="50px" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Funcionarios</h5>
                        <p class="card-text">Cadastar e visualizar funcionarios.</p>
                        <a href="https://localhost:44373/Funcionarios" class="btn btn-danger">Acessar</a>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="card col-3 text-center" style="width: 18rem;">
                    <img class="card-img-top" src="img/config.jpg" width="50px" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Configurações</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-danger">Acessar</a>
                    </div>
                </div>
            </div>
